@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-200;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-vujahday: "Vujahday Script", cursive;
  --font-jost: "Jost", sans-serif;
  --font-dm-serif-display: "DM Serif Display", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-jost {
  font-family: var(--font-jost);
}

.font-vujahday {
  font-family: var(--font-vujahday);
}

.font-dm-serif-display {
  font-family: var(--font-dm-serif-display);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jost) !important;
  font-weight: 500;
}
